apdev-examples/src/main/mule/apdev-accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="syncDBaccountsWithPostal" doc:id="f8b50588-6ab5-4631-90f5-16003f129b9b" initialState="started">
		<scheduler doc:name="Scheduler" doc:id="053b9ce3-ec2d-448f-b781-9cf802c02b96" >
			<scheduling-strategy >
				<fixed-frequency frequency="10"/>
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:name="Retrieve" doc:id="da399662-a67a-46b8-b078-205849b1bc88" key="lastAccountID" target="lastAccountID">
			<os:default-value ><![CDATA[0]]></os:default-value>
		</os:retrieve>
		<db:select doc:name="accounts" doc:id="46146dc4-52ea-4744-a21c-db6891b4a926" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM accounts WHERE postal = :postal AND accountID > :lastAccountID
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ postal: '721101', lastAccountID: vars.lastAccountID}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="c060a1a0-8c57-40a4-9e93-b5a3057d20d6" >
			<when expression="#[not isEmpty(payload)]">
				<os:store doc:name="Store" doc:id="1476652f-06f1-4b88-8416-6bc5a0020761" key="lastAccountID">
			<os:value><![CDATA[#[max(payload.*accountID)]]]></os:value>
		</os:store>
				<file:write doc:name="DBaccountsPostal.csv" doc:id="bfb84a95-08e1-4586-8ee5-f8bdddda411d" config-ref="File_Config" path="output/DBaccountsPostal.csv" mode="APPEND">
			<file:content><![CDATA[#[output application/csv header=false 
---
payload]]]></file:content>
		</file:write>
				<jms:publish doc:name="JMS accountsQ" doc:id="a84cb8cc-ad68-4392-b126-a3cf91913ca2" config-ref="JMS_Config" destination="accountsQ">
					<jms:message >
						<jms:body ><![CDATA[#[output application/json 
---
payload]]]></jms:body>
						<jms:properties ><![CDATA[#[{"publisher":"training"}]]]></jms:properties>
					</jms:message>
				</jms:publish>
				<logger level="INFO" doc:name="CSV Payload" doc:id="8fd00c58-7135-46de-9d8a-a3c89f2a7baf" message="#[output application/csv&#10;---&#10;payload]" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="No new Records" doc:id="88e15708-80a5-4042-bd1e-09438c133237" message="No new Records"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="receiveJMSMessages" doc:id="af09e354-9fa6-44f9-976a-b490238d25ff" >
		<jms:listener doc:name="JMSaccountsQ" doc:id="194d6630-e53d-4b7b-831a-e7e50966c7f4" config-ref="JMS_Config" destination="accountsQ">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<ee:transform doc:name="JSON to Accounts" doc:id="7936f689-21fb-4c14-ad4b-4834594edb51" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
    Name: payload01.name,
    BillingStreet: payload01.street,
    BillingCity: (payload01.city default ""),
    BillingState: payload01.state,
    BillingPostalCode: payload01.postal,
    BillingCountry: payload01.country
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="syncWithSalesforce" doc:id="3cffee1e-08b5-4022-81f7-0d296d58206a" >
			<batch:process-records >
				<batch:step name="isAccountInSalesforce" doc:id="92132707-bedd-45b0-92eb-d7f47cd1cbe0" >
					<salesforce:query doc:name="Account" doc:id="049c6968-4f98-4b9d-8580-87abb3490b68" config-ref="Salesforce_Config" target="existsVar" targetValue="#[(sizeOf(payload as Array) &gt; 0)]">
						<salesforce:salesforce-query ><![CDATA[SELECT Name FROM Account WHERE Name= ':cname']]></salesforce:salesforce-query>
						<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"cname" : payload.Name default "" as String
}]]]></salesforce:parameters>
					</salesforce:query>
					<logger level="INFO" doc:name="Logger" doc:id="8b03d3fb-0c95-457d-8072-56ab7e4cbccd" />
				</batch:step>
				<batch:step name="writeToSalesforce" doc:id="94ee97fb-8efb-4a26-b63f-a0de4bd05c54" acceptExpression="#[not vars.existsVar]">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="d7ec78cd-f5fa-493c-9f9d-4afe16b9fd9d" size="3">
						<salesforce:create type="Account" doc:name="Accounts" doc:id="f8c9596c-8189-4883-90f0-8e7288d7fa02" config-ref="Salesforce_Config" />
						<logger level="INFO" doc:name="Logger" doc:id="3933696e-38eb-4300-97eb-8cfd2bcb0a37" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="4f15d083-4bbd-4f0f-87c0-4eddba984098" />
			</batch:on-complete>
		</batch:job>
		<logger level="INFO" doc:name="Payload" doc:id="83651e71-27d6-48d9-af31-be50be482933" message="#[payload]"/>
	</flow>
	<flow name="syncDBaccountsToCSV" doc:id="25e4605f-70e3-4e54-8558-4d663865d40d" initialState="stopped">
		<db:listener doc:name="accounts" doc:id="b66e5a1e-5324-48a3-8f52-aa55dd82ffa2" table="accounts" config-ref="Database_Config" watermarkColumn="accountID" idColumn="accountID">
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</db:listener>
		<ee:transform doc:name="Transform Message" doc:id="f38a7b43-7f3f-4681-823e-8b88aea2e361" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header=false
---
[payload]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="DBaccounts.csv" doc:id="b4e085ad-2c09-4237-af98-feccf562fe97" config-ref="File_Config" path="output/DBaccounts.csv" mode="APPEND"/>
		<logger level="INFO" doc:name="Logger" doc:id="66f79a43-f541-4d8d-96b2-04f9f10d8f33" message="#[payload]"/>
	</flow>
	<flow name="batchProcessCSVaccounts" doc:id="a9eca578-6be9-477d-b46e-7420089c54b3" >
		<file:listener doc:name="accounts.csv" doc:id="eefecdca-a7d6-4a4f-ab2d-570dd17fe0d0" config-ref="File_Config" directory="input" moveToDirectory="output" >
			<file:matcher filenamePattern="*.csv" />
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="CSV to java" doc:id="a9a2569d-59de-44a5-a18a-083251ac2389" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[sizeOf(payload)]" doc:name="size" doc:id="5fdfb573-0728-4471-992e-2ab9ef2c6c3b" variableName="size"/>
		<batch:job jobName="apdev-accountsBatch_Job" doc:id="1c0baf6c-0c7c-4faf-bfae-e8caaf4846f4" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="a333519c-d7db-4b2c-b29f-c33dc8e32515" >
					<set-variable value="#[payload.Name]" doc:name="cname" doc:id="766baf59-e575-464b-83a8-db7534f65b55" variableName="cname"/>
					<logger level="INFO" doc:name="Logger" doc:id="6d65bb5e-d9d5-412b-9352-b73d2d5a6f30" />
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="a033c01d-198b-498f-a373-2cad455bade8" >
					<logger level="INFO" doc:name="Logger" doc:id="c2270980-ba27-4c2d-84c9-e1623e10f24b" />
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="f6db9484-d038-4144-9801-97c7d1badf4e" />
			</batch:on-complete>
		</batch:job>
	</flow>
	<flow name="getCSVaccounts" doc:id="a0eb9c57-db89-41ff-b912-c15d9c3d1dd5" initialState="stopped">
		<file:listener doc:name="accounts.csv" doc:id="f0684ba7-b5f4-4094-bbef-d1104b97fa66" config-ref="File_Config" directory="input" moveToDirectory="output">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<ee:transform doc:name="CSV to java" doc:id="f8386499-0245-4dec-9a00-9f241bf82ae2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="5bd87b9b-403c-41cf-b034-b97b5f2aa2d8" >
			<set-payload value="processed" doc:name="processed" doc:id="0ba55d4c-133f-45a7-8129-d8cb2bd475b8" />
			<logger level="INFO" doc:name="payload" doc:id="fe33f19c-6868-4039-90b2-11efa27907b6" message="#[payload]"/>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="ddab7202-59a0-428b-a412-e47fdb4a3641" message="#[payload]"/>
	</flow>
	<flow name="getSFDCaccounts" doc:id="e6b98f30-fe94-4ef3-9c4a-b1b5097a3142" >
		<http:listener doc:name="GET /sfdc" doc:id="413e0ff5-470d-4e4d-9d8b-95462c392d47" config-ref="HTTP_Listener_config" path="/sfdc"/>
		<salesforce:query doc:name="Query" doc:id="c4f8184b-1d04-4ba7-805d-db017ffff14a" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Name, LastModifiedDate, BillingPostalCode FROM Account]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="f64ff116-7389-4234-a2ec-5489058f967f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
